@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-black: #100F0F;
    --color-paper: #FFFCF0;

    --color-base-50: #F2F0E5;
    --color-base-100: #E6E4D9;
    --color-base-150: #DAD8CE;
    --color-base-200: #CECDC3;
    --color-base-300: #B7B5AC;
    --color-base-400: #9F9D96;
    --color-base-500: #878580;
    --color-base-600: #6F6E69;
    --color-base-700: #575653;
    --color-base-800: #403E3C;
    --color-base-850: #343331;
    --color-base-900: #282726;
    --color-base-950: #1C1B1A;

    --color-red-50: #FFE1D5;
    --color-red-100: #FFCABB;
    --color-red-150: #FDB2A2;
    --color-red-200: #F89A8A;
    --color-red-300: #E8705F;
    --color-red-400: #D14D41;
    --color-red-500: #C03E35;
    --color-red-600: #AF3029;
    --color-red-700: #942822;
    --color-red-800: #6C201C;
    --color-red-850: #551B18;
    --color-red-900: #3E1715;
    --color-red-950: #261312;

    --color-orange-50: #FFE7CE;
    --color-orange-100: #FED3AF;
    --color-orange-150: #FCC192;
    --color-orange-200: #F9AE77;
    --color-orange-300: #EC8B49;
    --color-orange-400: #DA702C;
    --color-orange-500: #CB6120;
    --color-orange-600: #BC5215;
    --color-orange-700: #9D4310;
    --color-orange-800: #71320D;
    --color-orange-850: #59290D;
    --color-orange-900: #40200D;
    --color-orange-950: #27180E;

    --color-yellow-50: #FAEEC6;
    --color-yellow-100: #F6E2A0;
    --color-yellow-150: #F1D67E;
    --color-yellow-200: #ECCB60;
    --color-yellow-300: #DFB431;
    --color-yellow-400: #D0A215;
    --color-yellow-500: #BE9207;
    --color-yellow-600: #AD8301;
    --color-yellow-700: #8E6B01;
    --color-yellow-800: #664D01;
    --color-yellow-850: #503D02;
    --color-yellow-900: #3A2D04;
    --color-yellow-950: #241E08;

    --color-green-50: #EDEECF;
    --color-green-100: #DDE2B2;
    --color-green-150: #CDD597;
    --color-green-200: #BEC97E;
    --color-green-300: #A0AF54;
    --color-green-400: #879A39;
    --color-green-500: #768D21;
    --color-green-600: #66800B;
    --color-green-700: #536907;
    --color-green-800: #3D4C07;
    --color-green-850: #313D07;
    --color-green-900: #252D09;
    --color-green-950: #1A1E0C;

    --color-cyan-50: #DDF1E4;
    --color-cyan-100: #BFE8D9;
    --color-cyan-150: #A2DECE;
    --color-cyan-200: #87D3C3;
    --color-cyan-300: #5ABDAC;
    --color-cyan-400: #3AA99F;
    --color-cyan-500: #2F968D;
    --color-cyan-600: #24837B;
    --color-cyan-700: #1C6C66;
    --color-cyan-800: #164F4A;
    --color-cyan-850: #143F3C;
    --color-cyan-900: #122F2C;
    --color-cyan-950: #101F1D;

    --color-blue-50: #E1ECEB;
    --color-blue-100: #C6DDE8;
    --color-blue-150: #ABCFE2;
    --color-blue-200: #92BFDB;
    --color-blue-300: #66A0C8;
    --color-blue-400: #4385BE;
    --color-blue-500: #3171B2;
    --color-blue-600: #205EA6;
    --color-blue-700: #1A4F8C;
    --color-blue-800: #163B66;
    --color-blue-850: #133051;
    --color-blue-900: #12253B;
    --color-blue-950: #101A24;

    --color-purple-50: #F0EAEC;
    --color-purple-100: #E2D9E9;
    --color-purple-150: #D3CAE6;
    --color-purple-200: #C4B9E0;
    --color-purple-300: #A699D0;
    --color-purple-400: #8B7EC8;
    --color-purple-500: #735EB5;
    --color-purple-600: #5E409D;
    --color-purple-700: #4F3685;
    --color-purple-800: #3C2A62;
    --color-purple-850: #31234E;
    --color-purple-900: #261C39;
    --color-purple-950: #1A1623;

    --color-magenta-50: #FEE4E5;
    --color-magenta-100: #FCCFDA;
    --color-magenta-150: #F9B9CF;
    --color-magenta-200: #F4A4C2;
    --color-magenta-300: #E47DA8;
    --color-magenta-400: #CE5D97;
    --color-magenta-500: #B74583;
    --color-magenta-600: #A02F6F;
    --color-magenta-700: #87285E;
    --color-magenta-800: #641F46;
    --color-magenta-850: #4F1B39;
    --color-magenta-900: #39172B;
    --color-magenta-950: #24131D;
}

@layer base {
    :root {
        --color-text-normal: var(--color-black);
        --color-text-muted: var(--color-base-600);
        --color-text-faint: var(--color-base-300);
        --color-ui-normal: var(--color-base-100);
        --color-ui-hover: var(--color-base-150);
        --color-ui-active: var(--color-200);
        --color-bg-normal: var(--color-paper);
        --color-bg-alt: var(--color-base-50);
        --color-action: var(--color-green-600);

        --heading-weight: 600;
    }

    .dark {
        --color-text-normal: var(--color-base-200);
        --color-text-muted: var(--color-base-500);
        --color-text-faint: var(--color-base-700);
        --color-ui-normal: var(--color-base-900);
        --color-ui-hover: var(--color-base-850);
        --color-ui-active: var(--color-base-800);
        --color-bg-normal: var(--color-black);
        --color-bg-alt: var(--color-base-950);
        --color-action: var(--color-green-400);
    }

    [x-cloak] {
        display: none !important;
    }

    body {
        color-scheme: dark light;
    }

    hr {
        border-color: var(--color-ui-normal);
        border-width: 1px;
        width: 100%;
    }
}

@layer components {
    /* Links */
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a {
        color: var(--color-text-normal);
        text-decoration: underline;
        transition-property: color, border-color, outline-color, text-decoration-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
            color: var(--color-action);
            border-color: var(--color-action);
        }

        &:focus {
            outline: none;
            background-color: var(--color-bg-alt);
            --tw-ring-color: var(--color-action);
            @apply ring;
        }

        &.plain,
        &.muted {
            text-decoration: none;
        }
    }

    article {
        a:not(.plain):not(.tag):not(.internal-link):not(.footnote):not(.reversefootnote):not([href^="#"]):not([href^="/"]) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
            background-position: right 33%;
            background-repeat: no-repeat;
            background-size: 0.7em;
            padding-right: 0.75em;
        }
    }

    .invalid-link {
        color: var(--color-text-muted);
        text-decoration: underline;
        text-decoration-color: var(--color-ui-normal);
        cursor: not-allowed;
    }

    /* Headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.3;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h1 {
        font-weight: 500;
        font-size: 2em;
        font-size: calc(1.35em + 0.55vw);
        letter-spacing: -0.02em;
        line-height: 1.25;
        margin-top: 1.5em;
        margin-bottom: 0.25em;
    }

    h2 {
        font-weight: var(--heading-weight);
        font-size: 1.4em;
        font-size: calc(1em + 0.2vw);
        letter-spacing: -0.015em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        line-height: 1.3;
    }

    h3 {
        font-weight: var(--heading-weight);
        font-size: 1.2em;
        font-size: 1em;
        line-height: 1.3;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h4 {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 1em;
    }

    h5 {
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;
        margin-bottom: 1em;
        letter-spacing: 0.05em;
        font-size: 1.4rem;
    }

    article {
        h2 {
            margin-top: 2em;
        }

        h1+h2,
        h2+h3 {
            margin-top: 1em;
        }

        h3 {
            margin-top: 1.5em;
        }
    }

    h1 a,
    h1 a:visited,
    h1 a:link {
        color: var(--color-text-normal);
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: var(--color-text-normal);
        text-decoration: none;

        &:hover {
            color: var(--color-action);
        }

        .muted:hover {
            color: var(--color-text-muted);
            text-decoration: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;

        &:hover {
            .anchor {
                opacity: 1;
                transition: opacity 0s ease-in-out 0.25s;
            }
        }

        .anchor {
            color: transparent;
            mask-image:
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-link'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/%3E%3C/svg%3E");
            mask-size: 0.75em;
            mask-repeat: no-repeat;
            mask-position: center;
            transition: opacity 0.1s ease-in-out;
            background-color: var(--color-text-faint);
            z-index: 0;
            user-select: none;
            position: absolute;
            left: -1.5em;
            padding-right: 1em;
            opacity: 0;
            color: var(--color-text-faint);
            text-decoration: none;

            &:hover {
                background-color: var(--color-text-muted);
            }

            &:active,
            &:focus {
                background-color: var(--color-text-normal);
            }
        }
    }

    .muted {
        color: var(--color-text-muted);
    }
}
